<p> Bienvenido al panel de administración de usuarios</p>
<h1> Rol: {{role}} </h1>


<h2>User List</h2>
<ul class="cartUser">
    {{#each users}}
    <li>
        Name: {{this.first_name}} {{this.last_name}} | <br>
        Email: {{this.email}} | <br>
        Role: {{this.role}}
        
        <button onclick="changeRole('{{this._id}}')"> Change Role </button>
        <button onclick="deleteUser('{{this._id}}')"> Delete </button>
    </li>
    {{/each}}
</ul>
<div class="divContainerPage">
{{#if hasPrevPage}}

<a target="_blank" href="/admin?page={{prevPage}}&limit={{limit}}"> Anterior </a>
{{/if}}
{{#if hasNextPage}}
<a target="_blank" href="/admin?page={{nextPage}}&limit={{limit}}"> Siguiente </a>
{{/if}}
<p> Pagina {{currentPage}} de {{totalPages}} </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"> </script> 
<script src="/js/admin.js"></script>

