<h1>Carrito de Compras</h1>

<div class="container">
    {{#each products}}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Producto: {{this.product.title}}</h5>
            <img src={{this.product.image}}>
            <p class="card-text">Cantidad: {{this.quantity}}</p>
            <p class="card-text">Precio: ${{this.product.totalPrice}}</p>
            <button class="btnCart" onclick="deleteProduct('{{this.cartId}}', '{{this.product._id}}')">Eliminar</button>
        </div>
    </div>
    {{/each}}
    
</div>
<div class="containerCompras">
<button class="btnCart" onclick="emptyCart('{{this.cartId}}')">Vaciar Carrito</button>
<h3 >Total de la compra: ${{totalPurchase}}</h3>
<form method="post" action="/api/carts/{{cartId}}/purchase">
    <button  type="submit" class="btn btn-success">Finalizar Compra</button>
</form>


</div>
</div>

  <script src="/js/checkout.js"></script>
 <script src="/js/cart.js"></script>
