
<!-- productDetails.handlebars -->
<h2>Detalles del producto</h2>
<div class="product-details">
    <img src="{{product.img}}">
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Category: {{product.category}}</p>
    <form id="addToCartForm" action="/api/carts/{{cartId}}/product/{{product.id}}" method="POST">
        <div class="container-counter">
        <button class="btnCart" type="button" id="decrementButton">-</button>
        <input class="btnCart" type="button" id="quantity" name="quantity" value="1" readonly>
        <button class="btnCart" type="button" id="incrementButton">+</button>
      </div> 
    </form> <div class="btnDetail">
    <button class="btnMio" onclick="postProductToCart('{{cartId}}','{{product.id}}')">Agregar al Carrito</button>
<a class="btnMio" href="/products"> Volver a Productos</a>    
</div>
</div>




<script src="/js/counter.js"></script>